<style>
  .message-content{
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div class="message-content">
  <p>Olá, {{name}}</p>
  <p>Uma máquina foi vinculada a seu usuário</p>
  <p>Acesse nosso sistema para verificar os dados de leitura de sua máquina</p>
  <p>
    <p>Código da Máquina: <strong>{{code}}</strong></p>
    <p>Descrição: <strong>{{description}}</strong></p>
  </p>
  <p>
    Atenciosamente,<br/>
    <strong>Soldage equipamentos e acessórios</strong>
  </p>
</div>
