<style>
  .message-content{
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div class="message-content">
  <p>Olá, {{name}}</p>
  <p>Seu login para o sistema Soldage foi criado</p>
  <p>Utilize as credenciais abaixo para acessar o sistema</p>
  <p>
    <p>E-mail: <strong>{{email}}</strong></p>
    <p>Senha: <strong>{{password}}</strong></p>
  </p>
  <p>
    Atenciosamente,<br/>
    <strong>Soldage equipamentos e acessórios</strong>
  </p>
</div>
